[Unit]
Description=SPO STM32 TCP Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/spo-stm32
ExecStart=/usr/bin/python3 /opt/spo-stm32/service.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
